<!DOCTYPE html>
<html lang="fr">
    {% load static %}
    <head>     
    <meta charset="utf-8">
    <title>Bible quiz fada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Système de gestion de dossiers" name="description">
    <!-- App favicon -->
    <link rel="shortcut icon" href="static/assets/images/logo.jpg">

    <!-- plugin css -->
    <link href="{%static 'assets/libs/jsvectormap/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{%static 'assets/libs/select2/css/select2.min.css'%}" rel="stylesheet" type="text/css">
    <!-- DataTables -->
    <link href="{%static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Layout Js -->
    <script src="{%static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{%static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{%static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{%static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    </head>

    <body class="font-inter">
        <div class="container-fluid">
            <div class="row align-items-center vh-100 wrapper-back justify-content-center">
                <div class="col-12 col-xl-3 col-lg-3 col-sm-4 col-md-3">
                    <div class="auth-box p-4 shadow-sm">
                        <div class="text-center 2xl:mb-10 mb-4">
                            <div class="mobile-logo text-center mb-6 lg:hidden block">
                                <a href="index.html">
                                    <img src="static/assets/images/logo.jpg" alt="" class="w-25">
                                </a>
                            </div>
                            <h3 class="mt-4 mb-0">Se connecter</h3>
                            <p class="fw-lighter text-body-tertiary desc-title">
                                Acc&eacute;dez &agrave; votre compte en remplissant les champs ci-dessous
                            </p>
                        </div>
                        <!-- BEGIN: Login Form -->
                        {% comment %} <form class="" action="{% url 'sygdos:login-user' %}" method="POST" >
                            {% csrf_token %} {% endcomment %}
                            <div class="mb-2">
                                <label class="form-label">Nom d'utilisateur</label>
                                <div class="relative">
                                    {% comment %} {{ form.as_p }} {% endcomment %}
                                    <input type="text" id="username" name="username" class="form-control" required>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Mot de passe</label>
                                <div>
                                    <input type="password" id="pass" name="pass" class="form-control" required>
                                </div>
                            </div>
                            <div class="justify-between">
                                <label class="">
                                    <input type="checkbox" class="hiddens">
                                    <span class="text-body-secondary ps-1 leading-6">
                                        Double authentification <span class="text-lighter text-body-tertiary">(facultatif)</span>
                                    </span>
                                </label>
                            </div>
                            <button onclick="seConnecter()" type="submit" class="btn btn-syg-primary waves-effect w-100 mt-4 text-center">Se connecter</button>
                        {% comment %} </form> {% endcomment %}
                        <!-- END: Login Form -->
                        <div class="mb-2 form-group">
                        Vous n'avez pas de compte ? 
                        <div class="form-control">
                            <a href="{% url 'create_account' %}">
                                Créer un compte
                            </a>
                        </div>
                     </div>
                        <div class="row">
                            <div class="col-auto mx-auto mt-4">
                                <div class="text-sm-end desc-title">
                                    <small>
                                        <script>document.write(new Date().getFullYear())</script> © bible quiz fada.
                                        Tous droits r&eacute;serv&eacute;s
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <!-- Icon -->
        <script src="{% static 'assets/monochrome/bundle.js' %}"></script>

        <!-- Required datatable js -->
        <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>
        <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'assets/libs/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form-element.init.js' %}"></script>
        <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
        <script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>

        <script type="text/javascript">
            function seConnecter(){
                var username = document.getElementById('username').value;
                var password = document.getElementById('pass').value;
                
                if(password === '' || username === '' ){
                    console.log("Username/Mot de passe n'a pas été renseigné")
                    Toastify({
                    text: "Username/Mot de passe n'a pas été renseigné",
                    duration: 3000
                    }).showToast();
                    return;
                }
            
                var data = {
                    'username': username,
                    'pass': password 
                }
            
                $.ajax({
                    url: "{% url 'connexion' %}",
                    data: data,
                    method: 'POST',
                    success: function(data){
                    
                    if(data.status == 'PasOk'){
                        console.log("Nom utilisateur/Mot de passe incorrects")
                        Toastify({
                        text: "Nom utilisateur/Mot de passe incorrects",
                        duration: 2000
                        }).showToast();
                        return;
                    }
                    // Affiche le toast
                    //monModal.show();
                    window.location.href = '{% url "accueil" %}';
                    },
                    error: function(e){
                        console.log("erreur", e);
                    Toastify({
                        text: "Une erreur s'est produite",
                        duration: 2000
                    }).showToast();
                    }
                });
            }
        </script>
    </body>
</html>